@mixin com-zhilizhili-pc-layout-current-polyfill($selctor, $leftwidth, $rightwidth, $mainstyle: (), $leftstyle: (), $rightstyle: ()) {
    .layout.polyfill-flex {
        &#{$selctor} {
            > .layout__item[current-polyfill-layout=left] {
                width: $leftwidth;
                @include com-zhilizhili-utils-map-to-style($leftstyle);
            }
            > .layout__item[current-polyfill-layout=right] {
                width: $rightwidth;
                @include com-zhilizhili-utils-map-to-style($rightstyle);
            }
            @include com-zhilizhili-utils-map-to-style($mainstyle);
            @content;
        }
    }
}

@mixin com-zhilizhili-site-pc-boilerplate-example-common-index-header() {
    header {
        background-color: get-custom-color("grey", "600");
        background-color: rgba(0,0,0,0.4);
        font-size: 12px;
    }
    @include use-com-zhilizhili-nav-init(".topnav") {
        height: 50px;
        @include com-zhilizhili-nav-use-nav-link() {
            @extend .#{$ns}-link-interface;
            @extend .#{$ns}-color-white;
        }
    }
    @include com-zhilizhili-pc-layout-current-polyfill(".topbar", 40%, 60%, (), (), ()) {
        @include com-zhilizhili-zhilizhiliui-elements-form-init(".topbar__form") {
            @include com-zhilizhili-zhilizhiliui-elements-form-field-init(".search-field"){
                padding: 3px;
                padding-left: 0;
                input {
                    width: 147px;
                }
            }
        }
    };
    @include com-zhilizhili-pc-layout-current-polyfill(".test-topbar", 40%, 60%, (), (), ()) {
        width: 1143px;
        margin: 0 auto;
    };
}

@mixin com-zhilizhili-site-pc-boilerplate-example-common-index() {
    $pageselector: unquote("[page=commonIndex]");
    @include app($appselector) {
        #{$pageselector} {
            @include com-zhilizhili-site-pc-boilerplate-example-common-index-header();
            @include com-zhilizhili-responsive-container-set(1351px, (
                ".topbar": (
                    width: 1143px
                ),
                "main": (
                    width: 960px
                ),
                "footer": (
                    width: 960px
                )
            ),(
                ".topbar": (
                    width: 1143px
                ),
                "main": (
                    width: 1143px
                ),
                "footer": (
                    width: 1143px
                )
            ));
            @include register-hook("#{&}");
        }
    }
}

@mixin com-zhilizhili-site-pc-boilerplate-example-common-index-polyfill() {
    $pageselector: unquote("[page=commonIndex]");
}